<input type="text" #tituloTarea (keyup.enter)="crearTarea(tituloTarea.value) ; tituloTarea.value = ''">
<button (click)="crearTarea(tituloTarea.value); tituloTarea.value = ''">Nueva Tarea</button>

<div class="prueba2" *ngFor="let tarea of subLista">
  <span>{{tarea.titulo2}}</span>
  <div class="botones">
    <button class="completada" (click)="editar($event)">✎</button>
    <button class="eliminar" (click)="eliminarTarea(tarea)">✘</button>
    <button class="noCompletada" (click)="completarTarea($event)">✓</button>
  </div>
</div>
